<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                         http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<activeProfiles>
		<activeProfile>
			github
		</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>
				github
			</id>
			<repositories>
				<repository>
					<id>
						github-mavn-scala-starter-files
					</id>
					<name>
						GitHub  scala-starter-parent Apache Maven Packages
					</name>
					<url>
						https://maven.pkg.github.com/shamndor/mavn-scala-starter-files
					</url>
				</repository>
				<repository>
					<id>
						github-mvn-scala
					</id>
					<name>
						GitHub  scala snadbox
					</name>
					<url>
						https://maven.pkg.github.com//shamndor/mvn-scala
					</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<servers>
		<server>
			<id>
				github-mavn-scala-starter-files
			</id>
			<username>
				shamndor
			</username>
			<password>
				3cff876cb6d2eec112be0480a23e4f505137b30d
			</password>
		</server>
		<server>
			<id>
				github-mvn-scala
			</id>
			<username>
				shamndor
			</username>
			<password>
				3cff876cb6d2eec112be0480a23e4f505137b30d_inv
			</password>
		</server>
	</servers>
</settings>
